<div class="row">
    <div class="col-md-12">
<!--        <ngx-spinner [fullScreen]="false" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff">-->
<!--            <p style="font-size: 20px; color: white">Loading...</p>-->
<!--        </ngx-spinner>-->
        <form [formGroup]="brandForm" >
          <h6 class="mt-4">Create Category</h6>
          <hr>
            <div class="mb-3">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="brandName"/>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea class="form-control" rows="4" formControlName="description"></textarea>
            </div>

            <div class="col-md-12 text-end">
                <button class="btn btn-primary" (click)="saveBrand('close')" *ngIf="!brand || !brand.id">Submit</button>
                <button class="btn btn-primary" (click)="updateBrand()" *ngIf="brand && brand.id">Update</button>
            </div>
        </form>
    </div>
</div>
