<div class="card mb-0 px-3">
<!--  <div class="right-side-modal" id="right-side-modal"  ></div>-->


  <div class="col-md-12 pt-3">
    <h5 class="c-title float-start">Product Details</h5>
  </div>



  <div class="row">
    <div class="col-md-12">


      <div class="card">
        <table class="table c-table" >
          <thead>
          <tr>
            <td >ID</td>
            <td >{{product.id}}</td>
          </tr>
          <tr>
            <td >Product Name</td>
            <td >{{product.itemName}}</td>
          </tr>
          <tr>
            <td >Product Code</td>
            <td >{{product.itemCode}}</td>
          </tr>
          <tr>
            <td >Product Category</td>
            <td >{{product.brandName}}</td>
          </tr>
          <tr>
            <td >Description</td>
            <td >{{product?.description}}</td>
          </tr>

          </thead>
        </table>

      </div>
    </div>
  </div>



<!--  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>-->
<!--  <p-toast></p-toast>-->
</div>
