:host ::ng-deep {
  .p-datatable .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
    .p-datatable {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr > td {
        text-align: left;
        display: block;
        width: 100%;
        float: left;
        clear: left;
        border: 0 none;

        .p-column-title {
          padding: .4rem;
          //min-width: 30%;
          display: inline-block;
          margin: -.4em 1em -.4em -.4rem;
          font-weight: bold;
        }

        &:last-child {
          border-bottom: 1px solid var(--surface-d);
        }
      }
    }
  }
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#main {
  position: relative;
}

.spinner {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  width: calc(100% - 60px);
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
}
