//$clr-0: #222;
//$clr-1: #fff;
//$clr-2: #4154f1;
//$clr-3: #012970;
//$clr-4: #ffca2c;
//$clr-5: #6c757d;
//$clr-6: #6776f4;
//$clr-7: #f6f9ff;
//$clr-8: #2eca6a;
//$clr-9: #e0f8e9;
//$clr-10: #ff771d;
//$clr-11: #ffecdf;


$clr-0: #222;
$clr-1: #fff;
$clr-2: #1e203b;
$clr-3: #202728;
$clr-4: #b9b8b4;
$clr-5: #d3d5dc;
$clr-6: #3e3f59;
$clr-7: #f6f9ff;
$clr-8: #1e1e1e;
$clr-9: #e5e5e5;
$clr-10: #6b6059;
$clr-11: #add5ff;
